extends layout
block content
    #standard.container_16
        header
            #logo.grid_4
                a(href='/')
                    img(src='images/tce.png')
            #banner.grid_8
                h2  Sistema de Personalização de Palestras
            .clear
        
        include accordion
        
        include previa
        
        include popup-editar_video
        include popup-inserir_local
        