extends layout
block content
    #standard.container_16
        header
            #logo.grid_4
                a(href='/')
                    img(src='images/tce.png')
            #banner.grid_12
                h2  Sistema de Personalização de Palestras
            .clear
        
        include passo1
        include passo2
        include passo3
        include passo4
        
        include popup-editar_video
        include popup-inserir_local
        include popup-acervo
        