block content
  doctype html
  head
    meta(charset='utf-8')
    title  TCEPB | Vídeos personalizados
    link(rel='stylesheet', href='stylesheets/960.css', type='text/css')
    link(rel='stylesheet', href='stylesheets/style.css', type='text/css')
    script(type='text/javascript', src='javascript/div.js')
    script(type='text/javascript', src='jjavascript/jquery-3.3.1.js')
  body
    #standard.container_16
      #imagem.grid_4
        a(href='#')
          img(src='imagens/tce.png', width='65px', height='85px')
      #banner.grid_8
        h2(align='center')  Sistema de Personalização de Palestras
      #void.grid_4
      hr
      #passo1.grid_16
        a(href='#')
          img#esconde1.seta(src='imagens/seta2.png', width='55px', height='45px')
        p Passo 1: Escolha um modelo de vídeo
        br
      #passo1_1.grid_16
        #botoes.grid_16
          a.btn(type='button', href='#', name='VideoPadrao') Vídeo Padrão
          a.btn(type='button', href='#', name='VideoPersonalizado') Vídeo Personalizado
      hr
      #passo2.grid_16
        a(href='#')
          img#esconde2.seta(src='imagens/seta2.png', width='55px', height='45px')
        p  Passo 2: Escolha vídeos personalizados já salvos
      #passo2_2.grid_16
        #img.grid_16
          #img0.grid_4
            a(href='#')
              img(src='imagens/video1.jpg', width='180px', height='105px')
            b Título do Vídeo
            h5 Aqui eu escrevo qualquer coisa so pra testar a div. Parece estar tudo correto!!
            #btn0
              input.exibir(type='submit', name='Exibir', value='Exibir')
              input.adicionar(type='submit', name='Adicionar', value='Adicionar')
          #img1.grid_4
            a(href='#')
              img(src='imagens/video1.jpg', width='180px', height='105px')
            b Título do Vídeo
            h5 Aqui eu escrevo qualquer coisa so pra testar a div. Parece estar tudo correto!!
            #btn1
              input.exibir(type='submit', name='Exibir', value='Exibir')
              input.adicionar(type='submit', name='Adicionar', value='Adicionar')
          #img2.grid_4
            a(href='#')
              img(src='imagens/video1.jpg', width='180px', height='105px')
            b Título do Vídeo
            h5 Aqui eu escrevo qualquer coisa so pra testar a div. Parece estar tudo correto!!
            #btn2
              input.exibir(type='submit', name='Exibir', value='Exibir')
              input.adicionar(type='submit', name='Adicionar', value='Adicionar')
          #img3.grid_4
            a(href='#')
              img(src='imagens/video1.jpg', width='180px', height='105px')
            b Título do Vídeo
            h5 Aqui eu escrevo qualquer coisa so pra testar a div. Parece estar tudo correto!!
            #btn3
              input.exibir(type='submit', name='Exibir', value='Exibir')
              input.adicionar(type='submit', name='Adicionar', value='Adicionar')
        h3 Ou crie um novo vídeo
        br
        #botoes2.grid_16
          a.btn(type='button', href='javascript: abrir1();', name='CriarNovoVideo') Criar Novo Vídeo
      hr
      #passo3.grid_16
        a(href='#')
          img#esconde3.seta(src='imagens/seta2.png', width='55px', height='45px')
        p  Passo 3: Escolha vídeos institucionais temáticos
      #passo3_3.grid_16
        #img0_0.grid_16
          #img4.grid_4
            a(href='#')
              img(src='imagens/video2.jpg', width='180px', height='105px')
            b Título do Vídeo
            h5 Aqui eu escrevo qualquer coisa so pra testar a div. Parece estar tudo correto!!
            #btn4
              input.exibir(type='submit', name='Exibir', value='Exibir')
              input.adicionar(type='submit', name='Adicionar', value='Adicionar')
          #img5.grid_4
            a(href='#')
              img(src='imagens/video2.jpg', width='180px', height='105px')
            b Título do Vídeo
            h5 Aqui eu escrevo qualquer coisa so pra testar a div. Parece estar tudo correto!!
            #btn5
              input.exibir(type='submit', name='Exibir', value='Exibir')
              input.adicionar(type='submit', name='Adicionar', value='Adicionar')
          #img6.grid_4
            a(href='#')
              img(src='imagens/video2.jpg', width='180px', height='105px')
            b Título do Vídeo
            h5 Aqui eu escrevo qualquer coisa so pra testar a div. Parece estar tudo correto!!
            #btn6
              input.exibir(type='submit', name='Exibir', value='Exibir')
              input.adicionar(type='submit', name='Adicionar', value='Adicionar')
          #img7.grid_4
            a(href='#')
              img(src='imagens/video2.jpg', width='180px', height='105px')
            b Título do Vídeo
            h5 Aqui eu escrevo qualquer coisa so pra testar a div. Parece estar tudo correto!!
            #btn7
              input.exibir(type='submit', name='Exibir', value='Exibir')
              input.adicionar(type='submit', name='Adicionar', value='Adicionar')
      hr
      #passo4.grid_16
        a(href='#')
          img#esconde4.seta(src='imagens/seta2.png', width='55px', height='45px')
        p  Passo 4: Adicione um novo vídeo
        br
      #passo4_4.grid_16
        #botoes3.grid_16
          #botoes3_1.grid_5
            a(href='javascript: abrir2();')
              img(src='imagens/envie.jpg', width='185px', height='90px')
              p Envie um vídeo
          #botoes3_2.grid_5
            a(href='javascript: abrir3();')
              img(src='imagens/youtube.jpg', width='185px', height='90px')
              p Adicionar vídeo do YouTube
          #botoes3_3.grid_5
            a(href='javascript: abrir4();')
              img(src='imagens/portal.jpg', width='185px', height='90px')
              p Adicionar vídeo do Portal Cidadão
      hr
      #previa.grid_16
        p
          | Prévia do Vídeo Final
        #imgPrevia.grid_16
          img(src='imagens/editar.png', width='600px', height='300px')
        br
        #form.grid_16
          form(name='Formulario', action='')
            p.Titulo
              input(type='text', placeholder='Insira um título para seu vídeo personalizado', required='required')
            p.Descricao
              textarea(type='text', placeholder='Insira uma breve descrição para seu vídeo personalizado', required='required')
            #botoes4.grid_16
              input.salvar(type='submit', name='Salvar', value='Salvar')
              input.baixar(type='submit', name='Baixar', value='Baixar')
              input.finalizar(type='reset', name='FinalizarEdicao', value='Finalizar Edição')
      #popup1.grid_10
        a(href='javascript: fechar1();')
          img#sair.sair(src='imagens/sair.png', width='25px', height='25px')
        p Editar Vídeo
        #imgPopup1.grid_10
          a(href='#')
            img(src='imagens/videoPopup.jpg', width='500px', height='250px')
          h5 Título do Vídeo
          h6 Aqui eu escrevo qualquer coisa so pra testar a div. Parece estar tudo correto!!
          #btnPopup1
            input.exibirPopup(type='submit', name='Exibir', value='Exibir')
            input.adicionarPopup(type='submit', name='Adicionar', value='Adicionar')
      #popup2.grid_12
        a(href='javascript: fechar2();')
          img#sair.sair(src='imagens/sair.png', width='25px', height='25px')
        p Inserir Vídeo Local
        #imgPopup2.grid_12
          input.btnEscolherArquivo(type='submit', value='Escolher arquivo de vídeo no seu computador')
          a(href='#')
            img(src='imagens/videoPopup.jpg', width='500px', height='250px')
          #btnPopup2
            input.adicionarPopup(type='submit', name='Adicionar', value='Adicionar')
      #popup3.grid_12
        a(href='javascript: fechar3();')
          img#sair.sair(src='imagens/sair.png', width='25px', height='25px')
        p Inserir Vídeo Local
        input.btnEscolherArquivo(type='submit', value='Escolher arquivo de vídeo no seu computador')
        #imgPopup3.grid_12
          a(href='#')
            img(src='imagens/videoPopup.jpg', width='500px', height='250px')
          h5 Título do Vídeo
          h6
            | Aqui eu escrevo qualquer coisa so pra testar a div. Parece estar tudo correto!!
            | testando ainda mais o tamanho da div quando escrevo mais na mesma;
          #btnPopup3
            input.adicionarPopup(type='submit', name='Adicionar', value='Adicionar')
      #popup4.grid_12
        a(href='javascript: fechar4();')
          img#sair.sair(src='imagens/sair.png', width='25px', height='25px')
        p Inserir Vídeo do Aluno Cidadão
        #formPopup.grid_12
        #imgPopup4_1.grid_12
          #img1Popup.grid_4
            a(href='#')
              img(src='imagens/videoPopup.jpg', width='180px', height='75px')
            b Título do Vídeo
            h5 Aqui eu escrevo qualquer coisa so pra testar a div. Parece estar tudo correto!!
            #btn1Popup
              input.assistir4(type='submit', name='Assistir', value='Assistir')
              input.adicionarPopup4(type='submit', name='adicionarPopup', value='Adicionar')
          #img2Popup.grid_4
            a(href='#')
              img(src='imagens/videoPopup.jpg', width='180px', height='75px')
            b Título do Vídeo
            h5 Aqui eu escrevo qualquer coisa so pra testar a div. Parece estar tudo correto!!
            #btn2Popup
              input.assistir4(type='submit', name='Assistir', value='Assistir')
              input.adicionarPopup4(type='submit', name='adicionarPopup', value='Adicionar')
          #img3Popup.grid_4
            a(href='#')
              img(src='imagens/videoPopup.jpg', width='180px', height='75px')
            b Título do Vídeo
            h5 Aqui eu escrevo qualquer coisa so pra testar a div. Parece estar tudo correto!!
            #btn3Popup
              input.assistir4(type='submit', name='Assistir', value='Assistir')
              input.adicionarPopup4(type='submit', name='adicionarPopup', value='Adicionar')
        #imgPopup4_2.grid_12
          #img4Popup.grid_4
            a(href='#')
              img(src='imagens/videoPopup.jpg', width='180px', height='75px')
            b Título do Vídeo
            h5 Aqui eu escrevo qualquer coisa so pra testar a div. Parece estar tudo correto!!
            #btn4Popup
              input.assistir4(type='submit', name='Assistir', value='Assistir')
              input.adicionarPopup4(type='submit', name='adicionarPopup', value='Adicionar')
          #img5Popup.grid_4
            a(href='#')
              img(src='imagens/videoPopup.jpg', width='180px', height='75px')
            b Título do Vídeo
            h5 Aqui eu escrevo qualquer coisa so pra testar a div. Parece estar tudo correto!!
            #btn5Popup
              input.assistir4(type='submit', name='Assistir', value='Assistir')
              input.adicionarPopup4(type='submit', name='adicionarPopup', value='Adicionar')
          #img6Popup.grid_4
            a(href='#')
              img(src='imagens/videoPopup.jpg', width='180px', height='75px')
            b Título do Vídeo
            h5 Aqui eu escrevo qualquer coisa so pra testar a div. Parece estar tudo correto!!
            #btn6Popup
              input.assistir4(type='submit', name='Assistir', value='Assistir')
              input.adicionarPopup4(type='submit', name='adicionarPopup', value='Adicionar')


