#passo1.passo.container_16
    .grid_16
        a.seta(href='#')
    .grid_16
        p Passo 1: Escolha um modelo de vídeo
    .grid_16
        a.btn(type='button', href='#', name='VideoPadrao') Vídeo Padrão
        a.btn(type='button', href='#', name='VideoPersonalizado') Vídeo Personalizado
    .clear