#passo1.passo.container_16
    .grid_16
        p Passo 1: Escolha um modelo de vídeo
        a.seta.collapsed(data-toggle='collapse', data-target='#passo1-body', aria-expanded='false', aria-controls='passo1-body')
    #passo1-body.passo-body.collapse.grid_16
        .btn(onclick="modelo('playlist');" name='VideoPadrao') Vídeo Padrão
        .btn(onclick="modelo('personalizado');" name='VideoPersonalizado') Vídeo Personalizado
    .clear