#passo4.passo.container_16   
    .grid_16
        p Passo 4: Download do vídeo personalizado
        a.seta.collapsed(data-toggle='collapse', data-target='#passo4-body', aria-expanded='false', aria-controls='passo4-body')
    #passo4-body.passo-body.collapse.grid_16
        .grid_16
            .progress
                #progress-bar.progress-bar.progress-bar-striped.bg-info(role='progressbar', style='width: 10%', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100')            
        p Prévia do Vídeo Final
        .container_16
            video#previa(controls)
        .grid_16
            form#form(name='Formulario', action='')
                p.titulo
                    input(type='text', placeholder='Insira um título para seu vídeo personalizado', required='required')
                p.descricao
                    textarea(type='text', placeholder='Insira uma breve descrição para seu vídeo personalizado', required='required')
                .grid_16
                    input.btn.salvar(type='submit', name='Salvar', value='Salvar')
            a.btn#baixar Baixar
            input.btn.finalizar(type='reset', name='FinalizarEdicao', value='Finalizar Edição')