#popup-upload.popup.container_16
    .grid_10
        img#sair.sair(src='images/sair.png', width='25px', height='25px' onclick="fecharPopup('upload');")
        p.titulo Inserir Vídeo Local
        .container_10 
            p#status-popup-upload.status.grid_4 Vídeo carregando, aguarde...
            video.previa#previa-popup-upload(
                controls, 
                data-status="status-popup-upload"
            )
        #minutagem.grid_5
            .container_5
                label Tempo inicial
                input#inicio-popup-upload(type="time" name="inicio")
            .container_5
                label Tempo final
                input#final-popup-upload(type="time" name="final")
        .container_10
            input(
                type='submit', 
                value='Adicionar',
                onclick='add("upload")'                
            )