#popup-acervo.popup.container_16
    .grid_10
        img#sair.sair(src='images/sair.png', width='25px', height='25px' onclick="fechar('acervo');")
        p Adicionar vídeo institucional
        .container_10 
            p#status-popup-acervo.status.grid_4 Vídeo carregando, aguarde...
            video.previa#previa-popup-acervo(
                controls, 
                data-status="status-popup-acervo"
            )
        #minutagem.grid_5
            .container_5
                label Tempo inicial
                input#inicio-popup-acervo(type="time" name="inicio")
            .container_5
                label Tempo final
                input#final-popup-acervo(type="time" name="final")
        
        .container_10
            input.adicionarPopup(
                type='submit', 
                value='Adicionar',
                onclick='add("acervo")'
            )