#popup-progress.popup
    div
        p#progress-label Renderizando vídeo...
        div#progress 
            div#progress-bar

#popup-gerar.popup.grid_16
    .grid_10
        img#sair.sair(src='images/sair.png', width='25px', height='25px' onclick="fecharPopup('gerar');")

        #video-personalizado.container_10
            p.titulo Prévia do Vídeo Final
            video#previa(controls='')
            #form.grid_9
                form(name='Formulario', action='')
                    
                    input#titulo(type='text', name="titulo" placeholder='Insira um título para seu vídeo personalizado', required='required')
                    
                    textarea#descricao(type='text', name="descricao" placeholder='Insira uma breve descrição para seu vídeo personalizado', required='required')
                    
                    div
                        input.btn.btn-gray(type='submit', value='Salvar')
                        button.btn.btn-green#baixar Baixar
                        input.btn.btn-white(type='reset', value='Finalizar Edição')

