#popup-edit.popup.container_16
    .grid_10
        img#sair.sair(src='images/sair.png', width='25px', height='25px' onclick="fecharPopup('edit');")
        p.titulo Editar vídeo da playlist
        .container_10 
            video.previa#previa-popup-edit(
                controls, 
                data-status="status-popup-edit"
            )
        #minutagem.grid_5
            .container_5
                label Tempo inicial
                input#inicio-popup-edit.inicio(type="time" name="inicio")
            .container_5
                label Tempo final
                input#final-popup-edit.final(type="time" name="final")

            input#video-id-popup-edit(type="hidden")
        .container_10
            input(
                type='submit', 
                value='Salvar',
                onclick='save()'
            )