header{
    height: 30px;
    border-bottom: 1px solid #000;
    background-color: rgb(61, 61, 61);
}

h2 {
    margin: 0;
    color: white;
    padding: 15px;
    font-size: 18px;   
}

#logo{
    height:30px;
    display: flex;          /* Tags para posicionar no centro da div*/
    display: -webkit-flex; /* Garante compatibilidade com navegador Safari. */
    justify-content: center;  align-items: center;
}
#logo img{
    width: 25px;
    height: 30px
}

p{ 
    font-weight: 600;
}
.titulo{
        margin: 1em 0;
}

b{
    font-size: 12px;
}
small{
    position: relative;
    padding-left: 10px;
    font-size: 12px;
}

.passo{
    background-color: rgb(255, 255, 255);
    text-align: center; 
    position: relative;
    clear:both;
}

.passo .passo-body{
    padding-bottom: 20px;
}

.clear{
    clear:both;
}

.main{
    border: medium solid black;
}
/*Blocos precisam ser excludentes após apertado o botão. Ainda não implementado*/
#blocoGeral1, #blocoGeral2{
    height: 500px;
    background-color: rgb(181, 194, 194);
    position: relative;
    text-align: center; 
    clear:both;
}
  
#bloco1, #bloco2{
    height: 200px;
    background-color: rgb(181, 194, 194);
    position: relative;
}

/*Botões das divs principais (Blocos)*/

#inserirVideo{
    width: 150px;  height: 20px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer; font-size: 12px;
    display: inline-block;
    position: relative;
    padding: 1px;   font-weight: bold;   
}
#gerarVideo{
    margin-top: 110px;
    background-color: rgb(255, 130, 0);
    color: white;
    border-radius: 8px;
    width: 140px;
}
#gerarVideo:hover{
    background-color: rgb(255, 161, 61);

}
/*Imagens dos cards de vídeo*/
#imgCard1, #imgCard2, #imgCard3, #imgCard4, #imgCard5, #imgCard6, #imgCard7, #imgCard8, #imgCard9, #imgCard10, #imgCard11, #imgCard12{
    background-color: rgb(255, 255, 255);
    width: 180px;
    height: 70px;
}
#card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9, #card10, #card11, #card12{
    width: 180px; height: 165px;
    background-color: white;
    position: relative; margin-left: 35px;
}
#btn1, #btn2, #btn3, #btn4, #btn5, #btn6, #btn7, #btn8, #btn9, #btn10, #btn11, #btn12{
    margin-top: 0px; position: relative;

}
.video{
    position: relative;
    background-color: #DDDDDD;
    padding-bottom: 10px;
}
.exibir, .adicionar{
        width: 80px; height: 30px;
        border-radius: 6px; border: none;
        background: #6A8AE5; color: white;
        cursor: pointer;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 12px;
        transition: all .5s;

}  
.exibir:hover, .adicionar:hover{
    background-color: rgb(16, 117, 163);
}
.baixar{
    width: 80px; height: 30px;
    border-radius: 6px; border: none;
    background: #4DAA4D;  color: #fff;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    transition: all .5s;
}    

.baixar:hover{
    background-color: rgb(105, 199, 110);
}

.btn{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    cursor: pointer; 
    font-weight: bold;   
    padding: 10px; 
    display: inline-block;
    margin: 10px; 
    position: relative;
    transition: all .5s;
}

#carregamento{
    position: relative;
    text-align: center;
    background: #cfcdcd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: auto;
}

#previa{
    height: auto;
    width: 430px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-left: auto;
}

#form{
    font-size: 14px;    
}

.titulo input, .descricao textarea{
    width: 600px; 
    padding: 0 10px 10px 10px; 
    border: thin solid;
}

.descricao textarea{
    height: 80px;
    line-height: 20px; 
}

#baixar{
    background: #5FDD5F;
    color: white;
    width: 80px;
}

#baixar:hover{
    background-color: rgb(10, 145, 75);
}

.finalizar{
    background: #f1f1f1;
    border: 2px solid black;
    color: rgb(78, 78, 78);
}

.finalizar:hover{
    background-color: rgb(170, 160, 160); 
    color: white;
}

.salvar{
    background-color: rgb(170, 160, 160); 
    color: white;
    width: 80px;
}

.salvar:hover{
    background: #cfcdcd;
    color: rgb(78, 78, 78);
}

/*Css dos Pop-Ups*/
#popup{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 550px;
    text-align: center;border-radius: 10px;
    border: solid 1px rgb(143, 143, 143);
}


/*Daqui pra baixo nada disso foi utilizado, deixei apenas para o caso você precise utilizar*/
label.grid_4 {
    margin: 0 10px;
}

#upload{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    border: none; background: #6A8AE5;
    color: white; 
    cursor: pointer;
    position: relative;
    margin-bottom: 20px;
}

#upload:hover{
    background-color: rgb(16, 117, 163);
}

.status{
    display: none;
}

.previa{
    max-width: 80%;
    height: 300px;
}
.sair{
    float: right;
    padding: 0;
}

.sair {position: relative;right: 20px;}

.adicionarPopup{
    margin-top: 20px;
    padding: 10px;
    border-radius: 6px;
    border: none; 
    background: #4DAA4D;
    color: white; 
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}  

.adicionarPopup:hover{
    background-color: rgb(105, 199, 110);
}

#minutagem {
    float:none;
    margin: 0 auto;
}

#minutagem label {
    margin: 0 10px;
    width: 100px;
}


/* record */
.progress{
    border: 1px solid;
}

#progress{
    position: relative;
}

#canvas, #merge{
    position: absolute;
    left: -3840px;
}

.container {
    padding-top: 80px;
}

#buttons{
    margin: 10px 0 0 0;
}

#recording{
    margin: 0 auto;
    display: block; 
}

#timeline{
    width: 100%;
    height: 150px;
    margin: 20px 0 0 0;
    border-radius: 10px; 
    border: 1px solid #000;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#timeline > div{
    flex: 1 1 auto;
    max-width: 50%;
    height: 100%;
    background: #000;
    border-radius: 10px; 
    position: relative;
}

#timeline > div > .fas {
    position: absolute;
    color: #fff;
    font-size: 20pt;
}

#timeline > div > .fa-times {
    top: 15px;
    right: 20px;
}

#timeline > div > .fa-edit {
    top: calc(50% - 6pt);
    left: calc(50% - 6pt);
}

.btn-info {
    color: #fff;
    background-color: #369;
    border-color: #369;
}

.btn-info:hover {
    color: #fff;
    background-color: #29537c;
    border-color: #264d73
}

.btn-warning {
    color: #222;
    background-color: #F5E625;
    border-color: #F5E625
}

.btn-warning:hover {
    color: #222;
    background-color: #e9d90b;
    border-color: #ddce0a
}

.btn-success {
    color: #fff;
    background-color: #22B24C;
    border-color: #22B24C
}

.btn-success:hover {
    color: #fff;
    background-color: #1c923e;
    border-color: #1a873a
}


.btn-danger {
    color: #fff;
    background-color: #f56200;
    border-color: #f56200
}

.btn-danger:hover {
    color: #fff;
    background-color: #cf4c00;
    border-color: #cf4c00
}
