header{
    height: 60px;
    border-bottom: 1px solid #000;
    background-color: rgb(61, 61, 61);
}

h2 {
    margin: 0;
    color: white;
    padding: 15px;
    font-size: 20px;   
}

#logo{

    height:60px;
    display: flex;          /* Tags para posicionar no centro da div*/
    display: -webkit-flex; /* Garante compatibilidade com navegador Safari. */
    justify-content: center;  align-items: center;
}
#logo img{
    width: 35px;
    height: 40px
}

p{ 
    margin: 1em 0;
    font-weight: 600;
}
/*Talvez seja interessaante diminuir mais esse tamanho*/
h15{
    position: relative;
    padding-left: 10px;
}

.passo{
    background-color: rgb(255, 255, 255);
    text-align: center; 
    position: relative;
    clear:both;
}

.passo .passo-body{
    padding-bottom: 20px;
}

.clear{
    clear:both;
}

.main{
    border: medium solid black;
}
/*Blocos precisam ser excludentes após apertado o botão. Ainda não implementado*/
#blocoGeral1, #blocoGeral2{
    height: 600px;
    background-color: rgb(219, 216, 216);
    position: relative;
    text-align: center; 
    clear:both;
}
#bloco1, #bloco3{
    height: 250px;
    background-color: rgb(219, 216, 216);
    position: relative;
}

#bloco2{
    height: 25px;
    background-color: rgb(219, 216, 216);
    position: relative;
}
/*Botões das divs principais (Blocos)*/
#inserirVideo{
    width: 150px;  height: 20px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer; font-size: 12px;
    display: inline-block;
    position: relative;
    padding: 1px;   font-weight: bold;   
}
#gerarVideo{
    margin-top: 130px;
    background-color: rgb(255, 130, 0);
    color: white;
    border-radius: 8px;
    width: 140px;
}
/*Imagens dos cards de vídeo*/
#imgCard1, #imgCard2, #imgCard3, #imgCard4{
    background-color: rgb(255, 255, 255);
    width: 180px;
    height: 105px;
}
#card1, #card2, #card3, #card4{
    width: 180px; height: 220px;
    background-color: #DDDDDD;
    position: relative; margin-left: 35px;
}
#btn1, #btn2, #btn3, #btn4{
    margin-top: 0px; position: relative;

}
.video{
    position: relative;
    background-color: #DDDDDD;
    padding-bottom: 10px;
}
.exibir{
        width: 80px; height: 30px;
        border-radius: 6px; border: none;
        background: #6A8AE5; color: white;
        cursor: pointer;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 12px;
}  
.exibir:hover{
    background-color: rgb(16, 117, 163);
}
.adicionar{
    width: 80px; height: 30px;
    border-radius: 6px; border: none;
    background: #4DAA4D;  color: #fff;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
}    

.adicionar:hover{
    background-color: rgb(105, 199, 110);
}

.btn{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    cursor: pointer; 
    font-weight: bold;   
    padding: 10px; 
    display: inline-block;
    margin: 10px; 
    position: relative;
    transition: all .5s;
}

#previa{
    height: auto;
    width: 430px;
    text-align: center;
}

#form{
    font-size: 14px;
    margin-left: auto;       
}

.titulo input, .descricao textarea{
    width: 600px; 
    padding: 0 10px 10px 10px; 
    border: thin solid;
}

.descricao textarea{
    height: 80px;
    line-height: 20px; 
}

#baixar{
    background: #5FDD5F;
    color: white; 
}

#baixar:hover{
    background-color: rgb(10, 145, 75);
}

.finalizar{
    background: #f1f1f1;
    color: rgb(78, 78, 78);
}

.finalizar:hover{
    background-color: rgb(170, 160, 160); 
    color: white;
}

/*Css dos Pop-Ups*/
.popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 550px;
    display: none;
    text-align: center;
}

.popup > div{
    background-color: #F2F2F2;
    border-radius: 10px;
    border: solid 1px rgb(143, 143, 143);
    padding: 20px 0;
    float: none;
    display: inline-block;
}

label.grid_4 {
    margin: 0 10px;
}

#upload{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    border: none; background: #6A8AE5;
    color: white; 
    cursor: pointer;
    position: relative;
    margin-bottom: 20px;
}

#upload:hover{
    background-color: rgb(16, 117, 163);
}

.status{
    display: none;
}

.previa{
    max-width: 80%;
    height: 300px;
}
.sair, .seta{
    float: right;
    padding: 0;
}

.sair {position: relative;right: 20px;}

.seta{
    width: 55px;
    height: 45px;
    background-image: url(../images/seta2.png);
    background-size: 55px 45px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: -50px;
    padding: 0;
    transition: all .5s;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    cursor: pointer;
}

a.seta.collapsed {
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}   

.adicionarPopup{
    margin-top: 20px;
    padding: 10px;
    border-radius: 6px;
    border: none; 
    background: #4DAA4D;
    color: white; 
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}  

.adicionarPopup:hover{
    background-color: rgb(105, 199, 110);
}

#minutagem {
    float:none;
    margin: 0 auto;
}

#minutagem label {
    margin: 0 10px;
    width: 100px;
}


/* record */
.progress{
    border: 1px solid;
}

#progress{
    position: relative;
}

#canvas, #merge{
    position: absolute;
    left: -3840px;
}

.container {
    padding-top: 80px;
}

#buttons{
    margin: 10px 0 0 0;
}

#recording{
    margin: 0 auto;
    display: block; 
}

#timeline{
    width: 100%;
    height: 150px;
    margin: 20px 0 0 0;
    border-radius: 10px; 
    border: 1px solid #000;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#timeline > div{
    flex: 1 1 auto;
    max-width: 50%;
    height: 100%;
    background: #000;
    border-radius: 10px; 
    position: relative;
}

#timeline > div > .fas {
    position: absolute;
    color: #fff;
    font-size: 20pt;
}

#timeline > div > .fa-times {
    top: 15px;
    right: 20px;
}

#timeline > div > .fa-edit {
    top: calc(50% - 6pt);
    left: calc(50% - 6pt);
}

.btn-info {
    color: #fff;
    background-color: #369;
    border-color: #369;
}

.btn-info:hover {
    color: #fff;
    background-color: #29537c;
    border-color: #264d73
}

.btn-warning {
    color: #222;
    background-color: #F5E625;
    border-color: #F5E625
}

.btn-warning:hover {
    color: #222;
    background-color: #e9d90b;
    border-color: #ddce0a
}

.btn-success {
    color: #fff;
    background-color: #22B24C;
    border-color: #22B24C
}

.btn-success:hover {
    color: #fff;
    background-color: #1c923e;
    border-color: #1a873a
}


.btn-danger {
    color: #fff;
    background-color: #f56200;
    border-color: #f56200
}

.btn-danger:hover {
    color: #fff;
    background-color: #cf4c00;
    border-color: #cf4c00
}
