header{
    height: 50px;
    border-bottom: 1px solid #353535;
    background-color: #353535;
    padding: 10px 0;
}

header > div{
    height: 30px;
    display: flex;          /* Tags para posicionar no centro da div*/
    display: -webkit-flex; /* Garante compatibilidade com navegador Safari. */
    justify-content: center;  align-items: center;
}

header p {
    padding: 15px;
    margin: 0;
    color: white;
    font-size: 18px;   
    font-weight: 600px;
}

#logo{
    width: 25px;
    height: 30px
}

p.titulo{ 
    margin: 1em 0;
    font-weight: 600;
}

#menu{
    background-color: rgb(255, 255, 255);
    text-align: center; 
    position: relative;
    clear:both;
}

.etapa{
    margin: 0 auto;
    display: block;
    float: none;
    padding: 15px 0;
}

.scroll{
    height: 267px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.video{
    position: relative;
    background-color: #fff;
    padding-bottom: 10px
}

.video .img{
    width:100%;
    height: 100px;
    background-size: cover;
    background-position: center;
}

.video .descricao{
    max-width: 100%;
    max-height: 25px;
    overflow: hidden
}

#previa{
    height: auto;
    width: 430px;
    text-align: center;
    border: 1px solid #000;
}

#form{
    margin: 0 auto;
    float: none;
    display: block;
    font-size: 14px;
    margin-left: auto;      
}

#titulo, #descricao{
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc;
    margin: 4px;
}

#descricao{
    height: 80px;
    line-height: 20px; 
}

/*Css dos Pop-Ups*/
.popup{
    height: fit-content;
    margin: auto;
    display: none;
    text-align: center;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    position: fixed;
    z-index: 2;
}

.popup > div{
    background-color: #F2F2F2;
    border-radius: 10px;
    border: solid 1px rgb(143, 143, 143);
    padding: 20px 0;
    float: none;
    display: inline-block;
}

#background-popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    transition: background .5s;
    top: 0;
    left: 0;
}

#background-popup.show{
    background: rgba(0,0,0,0.5);
    z-index: 1;
}

#popup-progress > div{
    width: 80%;
    padding: 20px;
}

#progress-label{
    margin: 0;
}

#progress{
    width: 100%;
    height: 20px;
    border-radius: 20px;
    background-color: #8888f7;
    overflow: hidden;
}

#progress-bar{
    width: 0;
    height: 20px;
    background-color: #5050bb;
    transition: width .5s;
}

.status{
    display: none;
}

.previa{
    max-width: 80%;
    min-width: 260px;
    height: 300px;
}

.sair {
    position: relative;
    float: right;
    padding: 0;
    right: 20px;
}

#minutagem {
    float:none;
    margin: 20px auto;
}

#minutagem label {
    margin: 0 10px;
    width: 100px;
}

/* record */
#canvas, #merge{
    position: absolute;
    left: -3840px;    
}

#timeline{
    height: 150px;
    padding: 10px;
    margin: 20px auto;
    float: none;
    border-radius: 10px; 
    border: 1px solid #000;

    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#timeline > div{
    flex: 1 1 auto;
    max-width: 50%;
    height: 100%;
    background: #000;
    border-radius: 10px; 
    position: relative;
}

#timeline > div > .fas {
    position: absolute;
    color: #fff;
    font-size: 20pt;
}

#timeline > div > .fa-times {
    top: 15px;
    right: 20px;
}

#timeline > div > .fa-edit {
    top: calc(50% - 6pt);
    left: calc(50% - 6pt);
}

.aba{
    background-color: #ebebeb;
    position: relative;
    text-align: center; 
    clear:both;
    padding-bottom: 20px;
}

#aba-2{
    display: none
}

/* Botões das divs principais (Blocos) */
.btn{
    padding: 10px; 
    display: inline-block;
    margin: 0 10px 10px 10px;
    border: none; 
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    text-transform: uppercase; 
    text-decoration: none;
    cursor: pointer; 
    transition: all .5s;

    background: white;
    color: black;
}

.btn.main{
    border: medium solid black;
    font-weight: bold;
    border-radius: 0;
}

.btn:hover, .btn.main.active{
    background: black;
    color: white;
}

.btn-white{
    border: 1px solid #000;
}

.btn-blue{
    background: #6A8AE5;
    color: white !important;
}

.btn-blue:hover{
    background-color: rgb(16, 117, 163);
}

.btn-blue:active{
    background-color: #6A8AE5;
}

#gerar{
    background-color: rgb(255, 130, 0);
    color: white;
}

#gerar:active {
    background-color: rgb(184, 95, 0);
}

#gerar:hover {
    background-color: rgb(255, 161, 61);
}

.btn-green{
    background: #5FDD5F;
    color: white;
}

.btn-green:hover{
    background-color: rgb(10, 145, 75);
}

.btn-green:active{
    background-color: #4DAA4D;
}

.btn-gray{
    background-color: rgb(170, 160, 160);
    color: white;
}

.btn-gray:hover{
    background: #cfcdcd;
    color: rgb(78, 78, 78);
}

.inicio, .final{
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 5px;
    padding: 2px 5px;
}

