header{
    padding: 20px 0;
    border-bottom: 1px solid #000;
}

#banner{
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 130px;
}

h2 {
    line-height: 130px;
    margin: 0;
}

#logo{
    background-color: rgb(255, 255, 255);
    height:130px;
    display: flex;          /* Tags para posicionar no centro da div*/
    display: -webkit-flex; /* Garante compatibilidade com navegador Safari. */
    justify-content: center;  align-items: center;
}

#logo img{
    width: 65px;
    height: 85px
}

p{ 
    position: relative;
    display: flex;
    display: -webkit-flex; 
    justify-content: center;
    align-items: center; font-weight: 600;
}

.passo {
    background-color: rgb(255, 255, 255);
    text-align: center; 
    position: relative;
    clear:both;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

.clear{
    clear:both;
}

.video{
    position: relative;
    background-color: #DDDDDD;
    padding-bottom: 10px;
}

.exibir{
        width: 80px; height: 30px;
        border-radius: 6px; border: none;
        background: #6A8AE5; color: white;
        cursor: pointer;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 12px; padding: 1px;
}  

.exibir:hover{
    background-color: rgb(16, 117, 163);
}

.adicionar{
    width: 80px; height: 30px;
    border-radius: 6px; border: none;
    background: #4DAA4D; color: white;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px; padding: 1px;
}    

.adicionar:hover{
    background-color: rgb(105, 199, 110);
}

.btn{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    border: none; 
    border-radius: 10px;
    cursor: pointer; 
    background: #CE7824; 
    color: white;
    text-transform: uppercase; 
    font-weight: 600;   
    text-decoration: none;
    padding: 20px; 
    position: relative;
    display: inline-block;
    margin-top: 10px; 
    position: relative;
}

.btn:hover{
    background: rgb(245, 56, 22);
}

#previa{
    background-color: rgb(255, 255, 255);
    height:650px;
    text-align: center; position: relative;
    top: 0%;left: 50%;
    transform: translate(-50%, 0%);
    margin-left: auto;
}

#form{
    font-size: 14px;
    margin-left: auto;       
}

.titulo input, .descricao textarea{
    width: 600px; 
    padding: 0 10px 10px 10px; 
    border: thin solid;
}

.descricao textarea{
    height: 80px;
    line-height: 20px; 
}

.salvar{
    width: 110px;  
    height: 40px;
    border-radius: 10px; 
    border: none;
    background: #ce7824; 
    color: white;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px; 
    padding: 1px;
}

.salvar:hover{
    background-color: rgb(245, 56, 22);
}

.baixar{
    width: 110px; height: 40px; 
    border-radius: 10px;
    border: none; 
    background: #5FDD5F;
    color: white; 
    cursor: pointer;   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px; 
    padding: 1px;
}

.baixar:hover{
    background-color: rgb(10, 145, 75);
}

.finalizar{
    width: 110px;  
    height: 40px;  
    border-radius: 10px;
    border: 1px solid;  
    background: none;
    color: rgb(78, 78, 78);  
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;  
    padding: 1px;
}

.finalizar:hover{
    background-color: rgb(170, 160, 160); color: white;
}

/*Css dos Pop-Ups*/
.popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 550px;
    display: none;
    text-align: center;
}

.popup > div{
    background-color: #F2F2F2;
    border-radius: 10px;
    border: solid 1px rgb(143, 143, 143);
    padding: 20px 0;
    float: none;
    display: inline-block;
}

.btnEscolherArquivo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    border: none; background: #6A8AE5;
    color: white; 
    cursor: pointer;
    position: relative;
    margin-bottom: 20px;
}

.btnEscolherArquivo:hover{
    background-color: rgb(16, 117, 163);
}

.sair, .seta{
    float: right;
    padding: 5px 5px 0 0;
}

.sair {
    padding-right: 20px;
}

.seta{
    width: 55px;
    height: 45px;
    background-image: url(../images/seta2.png);
    background-size: 55px 45px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: -45px;
}

.adicionarPopup{
    margin-top: 20px;
    padding: 10px;
    border-radius: 6px;
    border: none; 
    background: #4DAA4D;
    color: white; 
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}  

.adicionarPopup:hover{
background-color: rgb(105, 199, 110);
}